<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>138433085724-r9bkn4h4sempda5dutit5msqiir6vukv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.138433085724-r9bkn4h4sempda5dutit5msqiir6vukv</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ8Q93vT3HkohqGKYPvWKtFBnRv95dUoA</string>
	<key>GCM_SENDER_ID</key>
	<string>138433085724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aka.PiggyBank</string>
	<key>PROJECT_ID</key>
	<string>piggybank-83e1f</string>
	<key>STORAGE_BUCKET</key>
	<string>piggybank-83e1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138433085724:ios:8f96bbb886a6816f0e7ad9</string>
</dict>
</plist>